FLASK_ENV=development
FLASK_APP=main.py
SECRET_KEY=47ZMOcbXG0hr89tJR_VWma_82S_fHCRXXdLo7Ib0P6Kw6kk6AgYp7devbO6_A6PK
JWT_SECRET_KEY=58EruUQ6jWZNzrlHISZ7W1BpsPJLJmUXBFfXC8FTDXW5n0sZtalW-ZloabLW1_Qv
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/merged_db

# CIS Database connections
CIS_DB_1_URL=postgresql://postgres:postgres@localhost:5432/cis_db_1
CIS_DB_2_URL=postgresql://postgres:postgres@localhost:5432/cis_db_2
CIS_DB_3_URL=postgresql://postgres:postgres@localhost:5432/cis_db_3

# Optional settings
LOG_LEVEL=INFO